<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/ups.css">
    <title>Message</title>
</head>
<body>
    <div class="card">
            <div class="card-title">
                <p><%=head%></p>
            </div>
            <div class="card-text">
                <p><%=text%></p>
            </div>
            <a href=<%=link%> class="btn"><%=linkText%></a>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>